<div id="<%= dom_id sail %>">
  <p>
    <strong>Completed at:</strong>
    <%= sail.completed_at %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= sail.total_amount %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= sail.employee_id %>
  </p>

  <p>
    <strong>Client dni:</strong>
    <%= sail.client_dni %>
  </p>

</div>
