 <div id="<%= dom_id sale %>" class="sale-details">
    <p>
      <strong class="detail-label">Completed at:</strong>
      <%= sale.completed_at.localtime.strftime("%d-%m-%Y %H:%M") %>
    </p>

    <p>
      <strong class="detail-label">Total amount:</strong>
      <%= sale.total_amount %>
    </p>

    <p>
      <strong class="detail-label">Employee:</strong>
      <%= sale.user_id %>
    </p>

    <p>
      <strong class="detail-label">Client dni:</strong>
      <%= sale.client_dni %>
    </p>
  </div>
</div>