<%= render 'layouts/navbar' %>
<p style="color: green"><%= notice %></p>

<% content_for :title, "Ventas" %>
<div class="admin-sales-container table-container">
  <div class="table-header">
    <h1>Ventas<h1>
    <%= link_to 'Nueva Venta', new_sales_path, class: "btn new-admin-btn" %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Monto Total</th>
        <th>Dni del Cliente</th>
        <th>Empleado</th>
        <th>Fecha y Hora</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.id %></td>
          <td><%= sale.total_amount %></td>
          <td><%= sale.client_dni %></td>
          <td><%= sale.user.name %></td>
          <td><%= sale.completed_at.localtime.strftime("%d-%m-%Y %H:%M") %></td>
          <td><%= sale.is_deleted? ? 'Cancelada' : 'Realizada' %></td>
          <td class="actions">
            <%= link_to 'Ver', admin_sale_path(sale), class: "btn" %>
            <% if sale.is_deleted == false %>
              <%= form_with(model: sale, url: admin_sale_path(sale), method: :delete, local: true) do |form| %>
                <%= form.submit 'Cancelar', data: { confirm: '¿Estás seguro de que quieres cancelar rsta venta?' }, class: 'delete-btn btn btn-danger' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

