<%= render 'layouts/navbar' %>

<div class="product-grid">
  <% @products.each do |product| %>
    <div class="product-card" id="<%= dom_id(product) %>">
      <% if product.images.attached? %>
        <% product.images.each do |image| %>
          <%= link_to home_show_path(product.id) do %>
            <%= image_tag image.variant(resize_to_limit:[300, 300]) %>
          <% end %>
        <% end %>
      <% else %>
        No hay imágenes.
      <% end %>
      <div class="product-info">
        <h3 class="product-name"><%= product.name %></h3>
        <p class="product-price"><%= product.price %></p>
        <p class="product-stock">Stock: <%= product.stock %></p>
      </div>
    </div>
  <% end %>
</div>