<%= render 'layouts/navbar' %>
<div id="<%= dom_id product %>" class="product-detail">
  <p class="product-name">
    <strong>Nombre:</strong>
    <%= product.name %>
  </p>

  <p class="product-description">
    <strong>Descripcion:</strong>
    <%= product.description %>
  </p>

  <p class="product-price">
    <strong>Precio:</strong>
    <%= product.price %>
  </p>

  <p class="product-stock">
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p class="product-color">
    <strong>Color:</strong>
    <%= product.color %>
  </p>

  <p class="product-size">
    <strong>Talle:</strong>
    <%= product.size %>
  </p>

  <p class="product-category">
    <strong>Categoria:</strong>
    <%= product.category.name %>
  </p>

  <p class="product-entry-date">
    <strong>Fecha de Ingreso:</strong>
    <%= product.entry_date.localtime.strftime("%d-%m-%Y %H:%M") %>
  </p>

  <p class="product-deletion-date">
    <strong>Fecha de Eliminación:</strong>
    <%= product.deleted_at.present? ? product.deleted_at.localtime.strftime("%d-%m-%Y %H:%M") : "Activo" %>
  </p>

  <p class="product-images">
    <strong>Imagenes:</strong>
    <% if product.images.attached? %>
      <% product.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit:[300, 300]), class: 'product-image' %>
        <br>
      <% end %>
    <% else %>
      No images attached.
    <% end %>
  </p>
</div>
