<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Editar", edit_admin_product_path(@product) %> |
  <%= link_to "Volver al listado", admin_products_path %>

  <%= button_to "Eliminar", admin_product_path(@product), method: :delete %>
</div>
