<%= render 'layouts/navbar' %>

<!-- Título de la página -->
<h1 class="user-detail-title">Detalles del Usuario</h1>

<!-- Detalles del usuario -->
<div class="user-detail-container">
  <p class="user-detail">
    <strong class="detail-label">Nombre:</strong> <%= @user.name %>
  </p>
  
  <p class="user-detail">
    <strong class="detail-label">Email:</strong> <%= @user.email %>
  </p>
  
  <p class="user-detail">
    <strong class="detail-label">Teléfono:</strong> <%= @user.phone %>
  </p>
  
  <p class="user-detail">
    <strong class="detail-label">Estado:</strong> 
    <%= @user.active ? 'Activo' : 'Eliminado' %>
  </p>
  
  <p class="user-detail">
    <strong class="detail-label">Fecha de Entrada:</strong> <%= @user.entry_date %>
  </p>
</div>

<!-- Enlaces de acción -->
<div class="user-action-links">
  <%= link_to 'Editar', edit_admin_user_path(@user), class: 'btn edit-btn' %> |
  <%= link_to 'Volver a la lista', admin_users_path, class: 'btn back-btn' %>
</div>
