<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">Avivas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_products_path %>">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_sails_path %>">Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_users_path %>">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>">Avivas</a>
          </li>
          <li class="nav-item">
            <%= form_with url: destroy_user_session_path, method: :delete, local: true, class: "logout-form" do |form| %>
              <%= form.submit "Cerrar Sesión", class: "logout-btn btn btn-link nav-link" %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Iniciar sesión', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
